@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes/TTLakes-Regular.ttf');
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes/TTLakes-Bold.ttf');
}

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0 auto;
    background: #F8F8F8;
    min-width: 320px;
}


a:link {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #4B5563;
}

a:visited {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 20px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
}

.header__logo-group {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'TT Lakes Bold', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.title__wrapper {
    display: flex;
    gap: 12px;
}

.slidemenu__wrapper {
    display: flex;
    gap: 20px;
    margin-left: 16px;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    /*position: relative;*/
}

/*.slidemenu__wrapper::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/

/*    background: linear-gradient(to right, rgba(0,0,0,0) 0%, #F8F8F8 165%);*/
/*    z-index: 1;*/
/*}*/

.slidemenu__item  {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    white-space: nowrap;
    border: none;
    background: none;
    padding: 8px 16px;
}

.slidemenu__item_active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 35px;
}

.content__text {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;
    margin: 16px 16px 0 16px ;
}

.readmore {
    margin-left: 16px;
    margin-top: 16px;
}

.tablet, .desktop {
    display: none;
}

p {
    margin: 0;
}

@media (min-width: 700px) {

    .tablet {
        display: block;
    }

    .content__wrapper {
        display: grid;
        grid-template-columns: 1fr auto;
        margin-top: 32px;
        margin-right: 25px;
    }

    .content__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10px 16px 10px;
        padding: 0;
        flex: 1;
        color: #1B1C21;

    }

    .content__img {
        border-radius: 5px;
        flex: 2;
    }

    .readmore {
        flex: 1;
    }
}

@media (min-width: 1100px) {
    header {
        display: none;
    }

    .title__wrapper {
        margin-top: 42px;
        margin-right: 32px;
        display: flex;
    }

    .title__wrapper > :nth-child(3) {
        margin-left: auto;
    }

    .desktop {
        display: block;
    }

    span.desktop::before {
        content: ", ";
    }

    .menu__item {
        font-family: 'TT Lakes', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .slidemenu__wrapper {
        margin-top: 15px;
    }


    .content__wrapper {
        margin-top: 0;
    }

    .content__img {
        width: 532px;
        height: 307px;
    }
}
