:root {
    --color-border: #D9FFF5;
    --color-bg-page: #F8F8F8;
    --color-main: #FFFFFF;
    --color-accent: #B8FFEC;
    --color-text-menu: #7E7E82;
    --color-text-content: #1B1C21;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes/TTLakes-Regular.ttf');
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes/TTLakes-Bold.ttf');
}

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0 auto;
    background: var(--color-bg-page);
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*background: tomato;*/
}

a:link {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 20px;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-main);
}

.header__logo-group {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.title__heading {
    display: flex;
    align-items: center;
}

.title__heading_text {
    font-family: 'TT Lakes Bold', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin: 0;
    margin-left: 32px;
}

.slidemenu__wrapper {
    position: relative;
    padding-left: 16px ;
}

/*Chrome/Safari*/
.slidemenu__wrapper::-webkit-scrollbar { display: none; }

.slidemenu {
    display: flex;
    gap: 4px;
    align-items: center;
    list-style: none;
    padding: 0;

    overflow-x: scroll;
    scrollbar-width: none;
}

.slidemenu__shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    width: 15px;
    background: linear-gradient(to left, var(--color-bg-page), rgba(248,248,248,0));

    pointer-events: none;
}

.slidemenu__item  {
    display: inline-flex;
    border: none;
    background: none;
    padding: 8px 16px;

    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--color-text-menu);
    white-space: nowrap;
    text-decoration: none;
}

.slidemenu__item_active {
    background-color: var(--color-main);
    border: 2px solid var(--color-accent);
    border-radius: 6px;
}

.reviews {
    padding-left: 32px;
}

.reviews__button {
    display: inline-flex;
    border: none;
    background: none;
    padding: 8px 16px;

    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--color-text-menu);
    white-space: nowrap;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
}

.content__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content__text {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-text-content);
}

.divider__tablet, .header__action_tablet, .content__text_tablet, .title__action_desktop, .reviews_desktop, .text_desktop{
    display: none;
}

p {
   margin: 0;
}

@media (min-width: 700px) {

    .divider_tablet, .header__action_tablet, .content__text_tablet {
        display: block;
    }

    .content {
        flex-direction: row;
        margin-top: 16px;
        padding: 0 24px;
    }

    .content__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    .slidemenu__wrapper {
        padding-left: 24px;
    }

    .content__img {
        border-radius: 5px;
    }
}

@media (min-width: 1100px) {
    .header {
        display: none;
    }

    .title__action_desktop, .reviews_desktop {
        display: block;
    }

    .text__desktop {
        display: inline;
    }

    .text__desktop::before {
        content: ", ";
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 42px;
    }

    .title__actions {
        display: flex;
        align-items: center;
        gap: 32px;
        padding-right: 32px;
    }

    .title__action_desktop {
        font-family: 'TT Lakes', sans-serif;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        border: none;
        background: none;
        padding: 0;
    }

    .slidemenu {
        margin-top: 15px;
    }

    .content__text {
        line-height: 20px;
        letter-spacing: 0.2px;
    }

    .content__img {
        width: 532px;
        height: 307px;
    }

}
